<div class="modal fade"
     tabindex="-1"
     role="dialog"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Playback Schedule</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row mb-2">
                    <div class="col-md-12">
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" ng-model="scheduler.enabled">
                            <label class="form-check-label" for="flexSwitchCheckDefault">Enabled</label>
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-6">
                        <label class="form-label">Start Time</label>
                        <select class="form-select"
                                ng-disabled="!scheduler.enabled"
                                ng-options="item for item in hours"
                                ng-model="scheduler.startTime"></select>
                    </div>
                    <div class="col-md-6">
                        <label class="form-label">End Time</label>
                        <select class="form-select"
                                ng-disabled="!scheduler.enabled"
                                ng-options="item for item in hours"
                                ng-model="scheduler.endTime"></select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-check form-check-inline" ng-repeat="weekDay in weekDays track by $index">
                            <input class="form-check-input"
                                   type="checkbox"
                                   id="weekDayCheckbox{{weekDay.index}}"
                                   ng-disabled="!scheduler.enabled"
                                   ng-model="scheduler.weekDays[weekDay.label]">
                            <label class="form-check-label" for="weekDayCheckbox{{weekDay.index}}">{{weekDay.label}}</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" ng-click="saveInModal()">Save changes</button>
            </div>
        </div>
    </div>
</div>